<!DOCTYPE html>
<html>
<head>
  <title>MakersBnB</title>
<script>
$(document).ready(function(){
    var email,pass;
    $("#submit").click(function(){
        email=$("#email").val();
        pass=$("#password").val();
        /*
        * Perform some validation here.
        */
        $.post("http://localhost:3000/login",{email:email,pass:pass},function(data){
            if(data==='done')
            {
                window.location.href="/admin";
            }
        });
    });
});
</script>
<% include ./partials/header.ejs %>
</head>
  <body>

  Welcome back <%= user.firstname %>. This is your admin page:
  <div id="calendar">
<% listings.forEach(function(listing) { %>
  <ul style="list-style: none;">
<ol> <img height="25%" width="25%" src=<%= listing.image %>></ol>
<ol><%= listing.name %></ol><br>
<ol>Description:<br><%= listing.description %></ol><br>
<ol>price per night: £<%= listing.price %></ol>
<ol>new booking: from <%= listing.booking_from %> to <%= listing.booking_until %> by <%= listing.booking_email%></ol>
<ol><form action="/listings/update/<%= listing.id %>">
      <input class="submit" type="submit" value="Update" />
</form></ol>
<ol><form action="/listings/delete/<%= listing.id %>">
      <input class="submit" type="submit" value="Delete" />
    </form></ol>
</ul>
<% }); %>
<iframe width="638" height="380" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowtransparency="true" src="https://secure.booksterhq.com/book/118022?embedded=1"></iframe>


My current bookings made
<div>
  <% bookings.forEach(function(booking) { %>
    <ul style="list-style: none;">
  <ol><%= booking.listing_id %></ol><br>
  <ol>from<%= booking.checkin %></ol>
  <ol>to <%= booking.checkout %></ol>
  <ol>price per night: £<%= booking.price %></ol>
  </ul>
  <% }); %>
</div>

<form action="/user/my_account/requests" method="post">
  <input type="submit" value="My requests" />
</form>


        <h1> Add a new listing </h1>
         <form action="/listings/new" method="post">
             <input placeholder="Name" name="name" />
             <textarea placeholder="Description" name="description"></textarea>
             <input placeholder="Price per night" type="number" name="price" />
             <input placeholder="Image" name="image" />
           <input class="submit" type="submit" value="Create listing" />
         </form>
  <% include ./partials/footer.ejs %>
  </body>
  </html>
