<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/home.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/admin.css" media="screen" title="no title">
    <script src="javascripts/auth.js"></script>
    <% include ./partials/header.ejs %>
  </head>

  <body>

      <% listings.forEach(function(listing) { %>
    <ul style="list-style: none;">
      <ol> <img height="25%" width="25%" src=<%= listing.image %>></ol>
      <ol><%= listing.name %></ol><br>
      <ol>Description:<br><%= listing.description %></ol><br>
      <ol>price per night: £<%= listing.price %></ol>
      <ol><form action="/listings/update/<%= listing.id %>">
        <input class="submit" type="submit" value="Update" />
      </form></ol>
      <ol><form action="/listings/delete/<%= listing.id %>">
        <input class="submit" type="submit" value="Delete" />
      </form></ol>
    </ul>
      <% }); %>
    <div>
      <h2>My current bookings made</h2>
      <% bookings.forEach(function(booking) { %>
      <ul style="list-style: none;">
        <ol><%= booking.listing_id %></ol><br>
        <ol>from<%= booking.checkin %></ol>
        <ol>to <%= booking.checkout %></ol>
        <ol>price per night: £<%= booking.price %></ol>
        <ol><% if(booking.accepted){ %>
        <p> booking accepted, you will soon receive a confirmation email</p>
          <% } else if (booking.accepted === false) { %>
        <p> booking declined, you will soon receive an explanation email</p>
          <% } else { %>
        <p> booking's acceptation pending</p>
          <% } %>
        </ol>
      </ul>
    <% }); %>
  </div>
  <form action="/user/my_account/requests" method="post">
    <input type="submit" value="My requests" />
  </form>
    <div class="greeting">
      <h2>Welcome back <%= user.firstname %>. This is your admin page.</h2>
    </div>
    <div id="colorful">
      <h1> Add a new listing </h1>
    </div>
    <div class="form-content">
      <form action="/listings/new" method="post" class="text-form" size="100">
        <input placeholder="Name" name="name" class="text-form" size="100"/>
        <textarea placeholder="Description" name="description" class="text-form" size="100"></textarea>
        <input placeholder="Price per night" type="number" name="price" class="text-form price-form" size="100"/>
        <input placeholder="Image" name="image" class="text-form" size="100"/>
        <input class="button" type="submit" value="Create listing" />
      </form>
    </div>
  </body>
</html>
