<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/home.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/admin.css" media="screen" title="no title">
    <script src="javascripts/auth.js"></script>
    <% include ./partials/header.ejs %>
  </head>

  <body>
    <div class="greeting">
      <h2 style="font-size: 2em">Welcome back <%= user.firstname %>!</h2><br>
    </div>
    <div>
      <% if (listings.length > 0) { %>
      <h2 id="colorful" style="font-size: 3em">Your current listings:</h2>
      <% listings.forEach(function(listing) { %>
    <ul style="list-style: none;">
      <ol> <img height="25%" width="25%" src=<%= listing.image %>></ol>
      <ol><%= listing.name %></ol><br>
      <ol>Description:<br><%= listing.description %></ol><br>
      <ol>price per night: £<%= listing.price %></ol>
      <ol style="margin-right:30em"><form action="/listings/update/<%= listing.id %>">
        <input class="buttons" type="submit" value="Update" />
      </form></ol>
      <ol><form action="/listings/delete/<%= listing.id %>">
        <input class="buttons" type="submit" value="Delete" />
      </form></ol>
    </ul><br><br>
      <% }); %>
      <% } %>
    </div>
    <div>
      <% if (bookings.length > 0) { %>
      <h2 id="colorful">My current bookings made:</h2>
      <% bookings.forEach(function(booking) { %>
      <ul style="list-style: none;">
        <ol>Listing number: <%= booking.listing_id %>.     From <%= booking.checkin %> to <%= booking.checkout %></ol>
        <ol><% if(booking.accepted){ %>
        <p>Booking accepted. You will soon receive a confirmation email</p>
          <% } else if (booking.accepted === false) { %>
        <p>Booking declined. You will soon receive an explanation email</p>
          <% } else { %>
        <p>Booking's acceptation pending</p>
          <% } %>
        </ol>
      </ul><br>
    <% }); %>
    <% }; %>
  </div><br>
  <div style="margin-right:53em">
  <form action="/user/my_account/requests" method="post">
    <input class="buttons"type="submit" value="My requests" />
  </form>
</div><br><br><br>
    <div id="colorful">
      <h1> Add a new listing </h1>
    </div>
    <div class="form-content">
      <form action="/listings/new" method="post" class="text-form" size="100">
        <input placeholder="Name" name="name" class="text-form" size="100"/>
        <textarea placeholder="Description" name="description" class="text-form" size="100"></textarea>
        <input placeholder="Price per night" type="number" name="price" class="text-form price-form" size="100"/>
        <input placeholder="Image" name="image" class="text-form" size="100"/>
        <input class="button" type="submit" value="Create listing" />
      </form>
    </div>
  </body>
</html>
