<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/home.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/admin.css" media="screen" title="no title">
    <script src="javascripts/auth.js"></script>
    <% include ./partials/header.ejs %>
  </head>

  <body>
    <div class="greeting">
      <h2 style="font-size: 2em">Welcome back <%= user.firstname %>!</h2><br>
    </div>
    <div>
      <% if (listings.length > 0) { %>
      <h2 id="colorful" style="font-size: 3em">Your current listings:</h2>
      <% listings.forEach(function(listing) { %>
        <div class="single-listing">
          <a href="/listings/view/<%= listing.id %>">
          <div class="image">
            <img src=<%= listing.dataValues.image %> height="175" width="250">
          </div>
          </a>
          <div class="text-content">
            <div class="title">
              <h3><%= listing.dataValues.name %></h3>
            </div>
            <div class="price">
              <h3>£<%= listing.dataValues.price %>/night</h3>
            </div>
          </div>
        </div>
      <ol style="margin-right:30em"><form action="/listings/update/<%= listing.id %>">
        <input class="buttons" type="submit" value="Update" />
      </form></ol>
      <ol><form action="/listings/delete/<%= listing.id %>">
        <input class="buttons" type="submit" value="Delete" />
      </form></ol><br><br><br><br>
    </ul>
      <% }); %>
      <% } %>
    </div>
    <div>
      <% if (bookings.length > 0) { %>
      <br><br><h2 id="colorful">My current bookings made:</h2>
      <% bookings.forEach(function(booking) { %>
      <ul class="single-booking"style="list-style: none;">
        <ol><p>Listing number: <%= booking.listing_id %>.     From <%= booking.checkin %> to <%= booking.checkout %></p></ol>
        <ol><% if(booking.accepted){ %>
        <p>Booking accepted. You will soon receive a confirmation email</p>
          <% } else if (booking.accepted === false) { %>
        <p>Booking declined. You will soon receive an explanation email</p>
          <% } else { %>
        <p>Booking's acceptation pending</p>
          <% } %>
        </ol>
      </ul><br>
    <% }); %>
    <% }; %>
  </div><br>
  <div style="margin-right:58em">
  <form action="/user/my_account/requests" method="post">
    <input class="buttons"type="submit" value="My requests" />
  </form>
</div><br><br><br>
    <div id="colorful">
      <h1> Add a new listing </h1>
    </div>
    <div class="form-content">
      <form action="/listings/new" method="post" class="text-form" size="100">
        <input placeholder="Name" name="name" class="text-form" size="100"/>
        <textarea placeholder="Description" name="description" class="text-form" size="100"></textarea>
        <input placeholder="Price per night" type="number" name="price" class="text-form price-form" size="100"/>
        <input placeholder="Image" name="image" class="text-form" size="100"/>
        <input class="button" type="submit" value="Create listing" />
      </form>
    </div>
  </body>
</html>
