
  <!DOCTYPE html>
  <html>
  <head>
    <script>
    $(document).ready(function(){
        var email,pass;
        $("#submit").click(function(){
            email=$("#email").val();
            pass=$("#password").val();
            /*
            * Perform some validation here.
            */
            $.post("http://localhost:3000/login",{email:email,pass:pass},function(data){
                if(data==='done')
                {
                    window.location.href="/admin";
                }
            });
        });
    });
    </script>
    <% include ./partials/header.ejs %>
  <style >
  #textboxid
{
  height:200px;
  font-size:14pt;
}
  </style>
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
  <link rel="stylesheet" href="/stylesheets/home.css" media="screen" title="no title">
  <link rel="stylesheet" href="/stylesheets/admin.css" media="screen" title="no title">
</head>
  <body>

<div class="form-content">
    <form action="/listings/updated/<%= listing.id %>" method="post">
        <input class="text-form" size="100" type="text" name="name" value="<%= listing.name %>"/>
        <input id="textboxid" class="text-form" size="100" type="text"  name="description" value="<%= listing.description %>"/>
        <input size="100" class="text-form price-form" type="text" type="number" name="price" value="<%= listing.price %>" />
        <input class="text-form" size="100" type="text" name="image" value="<%= listing.image %>"/>
      <input class="button" size="100" type="submit" value="Update Listing" />
    </form>
</div>

  </body>


  </html>
