<!DOCTYPE html>
<html>
<head>
  <title>MakersBnB</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="javascripts/auth.js"></script>
<script>
function acceptConfirmation() {
    alert("Booking accepted!");
}
function rejectConfirmation() {
    alert("Booking rejected!");
}
function deleteConfirmation() {
    alert("Booking deleted!");
}
</script>
<style>

  ol {
    font-size:0.7em;
    color: grey;
  }

</style>
<% include ./partials/header.ejs %>
</head>
  <body>

<h2 style="font-size: 3em; color: #ff5a60">My current received bookings<h2>
<div>
  <% mybookings.forEach(function(mybooking){ %>
    <ul class="single-request" style="list-style: none;">
  <ol>Listing number: <%= mybooking.listing_id %></ol>
  <ol>From: <%= mybooking.checkin %> to: <%= mybooking.checkout %></ol>
  <ol>Contact email: <%= mybooking.email %></ol>
  <ol><form method="post" action="/booking/accept/<%= mybooking.id %>">
  <input class="buttons" type="submit" value="Accept booking" onclick="acceptConfirmation()" />
  </form></ol>
  <ol><form method="post" action="/booking/reject/<%= mybooking.id %>">
  <input class="buttons" type="submit" value="Reject Booking" onclick="rejectConfirmation()" />
  </form></ol>
  <ol><form method="post" action="/booking/delete/<%= mybooking.id %>">
  <input class="buttons" type="submit" value="Delete Booking" onclick="deleteConfirmation()" />
  </form></ol><br><br><br><br></ol>
  </ul>
  <% }); %>
</div>

<% include ./partials/footer.ejs %>
</body>
</html>
